@model LambAndLentil.Models.Ingredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingSizeUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingSizeUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalFromFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalFromFat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IngredientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
