@model LambAndLentil.Models.IngredientVM
@{
    ViewBag.Title = "Details";
}
 
<h2>Ingredient Details </h2>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients.First().Maker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients.First().Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients.First().FoodGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingSizeUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingSizeUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model .ServingsPerContainer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingsPerContainer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerSizeUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerSizeUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContainerSizeInGrams)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContainerSizeInGrams)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalFromFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalFromFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kosher)
        </dt>

        <dd>

            @Html.DisplayTextFor(model=> model.Kosher)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IngredientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
