 @model LambAndLentil.UI.Models.ListVM
@{
    ViewBag.Title = "Person Index";
    string sourceActionMethod = "PersonsIndex";
}

<h2>Persons</h2>

<p>
    @Html.ActionLink("Add Person", LambAndLentil.UI.UIViewType.Create.ToString(), UIControllerType.Persons.ToString(), new { actionMethod = UIViewType.Create.ToString() }, null)

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().MinCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().MaxCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons.First().NoGarlic)
        </th> 
        <th></th> 

    </tr>

@foreach (var item in Model.Persons) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item. Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinCalories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCalories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoGarlic)
        </td> 
        <td>
            @Html.ActionLink(" ", UIViewType.Edit.ToString(), "Persons", new { id = item.ID, sourceActionMethod, actionMethod = UIViewType.Edit }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-edit", @title = "Edit" })
        </td>
        <td>
            @Html.ActionLink(" ", UIViewType.Details.ToString(), new { id = item.ID }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-list", @title = "Details" })
        </td>
        <td>
            @Html.ActionLink(" ", UIViewType.Details.ToString(), new
       {
           id = item.ID,
           actionMethod = UIViewType.Delete
       }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-trash", @title = "Delete" })
        </td>
    </tr>
}

</table>
