@using LambAndLentil.UI.Models
@using LambAndLentil.Domain.Entities
@using LambAndLentil.UI.HtmlHelpers
@model  LambAndLentil.UI.Models.List< Ingredient,Ingredient>
@{
    ViewBag.Title = "Ingredients Index";
    string sourceActionMethod = "IngredientsIndex";
}

<h2>Ingredients</h2>
 
 <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().IngredientsList)
        </th>
        <th>Details</th> 
    </tr> 
    @foreach (var ingredient in Model.ListTVM)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ingredient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ingredient.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ingredient.IngredientsList)
            </td>

            <td>
                @Html.ActionLink(" ", UIViewType.Details.ToString(), new { id = ingredient.ID }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-list", @title = "Details" })
            </td>


        </tr>
    } 
    </table>

<div class="pager">
    <h4>Lamb & Lentil</h4>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(UIViewType.Index.ToString(), new { page = x }))
</div> 



