@using LambAndLentil.UI.HtmlHelpers
@using LambAndLentil.Domain.Entities
@using LambAndLentil.UI.Models
@model LambAndLentil.UI.Models.ListVM<Recipe,RecipeVM>

@{
    ViewBag.Title = "Recipes Index"; 
    string sourceActionMethod = "RecipesIndex"; 
    }

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Add Recipe", LambAndLentil.UI.UIViewType.Create.ToString(), UIControllerType.Recipes.ToString(), new { actionMethod = UIViewType.Create.ToString() }, null)
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entities.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.First().Description )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.First().Servings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.First().MealType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entities.First().Calories)
        </th>
        <th></th>
    </tr>

@foreach (var recipe in Model.Entities ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => recipe.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => recipe.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => recipe.Servings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => recipe.MealType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => recipe.Calories)
        </td>
        <td>
            @Html.ActionLink(" ", UIViewType.Edit.ToString(), "Recipes", new { id = recipe.ID, sourceActionMethod, actionMethod = UIViewType.Edit }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-edit", @title = "Edit" })
        </td>
        <td>
            @Html.ActionLink(" ", UIViewType.Details.ToString(), new { id = recipe.ID }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-list", @title = "Details" })
        </td>
        <td>
            @Html.ActionLink(" ", UIViewType.Details.ToString(), new
       {
           id = recipe.ID,
           actionMethod = UIViewType.Delete
       }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-trash", @title = "Delete" })
        </td>
    </tr>
}

</table>
<div class="pager">
    <h4>Lamb & Lentil</h4>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(UIViewType.Index.ToString(), new { page = x }))
</div>