@model LambAndLentil.UI.Models.ListVM

@{
    ViewBag.Title = "Shopping List Index";
}

<h2>Shopping Lists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingLists.First().Name)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.ShoppingLists.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingLists.First().Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ShoppingLists) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
